body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

input, button {
  margin: 10px;
}

/* CardLayout css */
.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
}

.card {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  color: white;
}

.card1 {
  background-color: #ff6b6b;
}

.card2 {
  background-color: #4ecdc4;
}

.card3 {
  background-color: #1a535c;
}

.card4 {
  background-color: #f7fff7;
  color: black;
}

.card5 {
  background-color: #ff6b6b;
}

.card6 {
  background-color: #4ecdc4;
}

.card7 {
  background-color: #1a535c;
}


/* ImageScroll css */
.image-scroll img {
  width: 100%;
  height: auto;
}


/* FinalContent css */
.final-content {
  padding: 40px;
}
.mission-statement .transparent-text {
  opacity: 0.5;
}
.hover-link {
  position: relative;
  display: inline-block;
}
.hover-link::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.hover-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* OverlayContent css */

.overlay-content .section {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video-container {
  position: relative;
}
.play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
.transparent-section {
  background: rgba(255, 255, 255, 0.5);
}
